

			<div id="contentlefttop"><%=image_tag "header_contact.jpg", :border => 0%></div>
			<div id="contentleftcenter"><span class="bhead" style="font-size: 20px">
            SUBANG JAYA - 03-5634 4660<br />TESCO, SHAH ALAM - 03-5510 2637<br />TESCO, AMPANG - 03-9284 6040<br />SEKSYEN 9, BANDAR BARU BANGI - 03-8926 6699<br />MYDIN MALL USJ - 013-615 2038<br />ALAMANDA, PUTRAJAYA - 03-8890 4001<br />GIANT, KOTA DAMANSARA - 03-6142 2145<br />AMAN SURIA - 03-7803 9833<br />TTDI JAYA - COMING SOON<br /><br />EMAIL: jmbariani@gmail.com</span>
			</div>
			<div id="contentleftbottom"><span class="bhead">ENQUIRE</span></div>
		</div>
    	<div id="contentright"><%=image_tag "history_pic.jpg", :border => 0%></div>
        <div align="center"></div>

