
			<div id="contentleftcenter">
            	<div style="float:right; padding-left:10px"><img src="../images/history1.jpg" width="100" height="100" border="0" /><br /><br /><img src="../images/history2.jpg" width="100" height="100" border="0" /></div>
            <b>JM Beriani Restaurant</b> started in 1983 in Shah Alam. It is owned by <b>Encik Mustapa Abdul Karim</b> and <b>Puan
             Jamilah Abu Bakar</b>. <br /><br />
             Originated from Muar Johor, they bravely opened a small stall in Section 4 Shah Alam selling the famous Johor traditional 
             food which is 'Beriani '. The original traditional taste of their Beriani was fast to be known through out the streets of 
             Shah Alam. <br /><br />
             Later they started to establish catering services to most of the Selangor residents and offices due to a great demand from
              customers. <br /><br />
              For the past nineteen (19) years <b>JM Beriani House</b> and <b>JM Catering Services</b> have been well known for its 
              quality and original taste of Bariani Johor. The Customers range from local, VIP, VVIP and right to Royal family. <br />
              <br />
              <b>JM Beriani Restaurant</b> was set up with the intention to introduce the famous Bariani Johor and to tap the food and
              restaurant industry.
			</div>
			<div id="contentleftbottom"><span class="bhead">THE HISTORY</span></div>
		</div>
    	<div id="contentright"><img src="../images/history_pic.jpg" width="226" height="528" /></div>
        <div align="center"></div>
